body {
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
  margin: 0px;
  background: #ffffff;
}

.page-header {
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.page-header-container {
  display: flex;
  align-items: center;
}

.page-nav {
  display: flex;
}

.logo {
  text-decoration: none;
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  margin-right: 93px;
}

.logo-blue {
  color: #2196f3;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  font-style: Bold;
  font-size: 26px;
}

.menu {
  display: flex;
  align-items: center;
  list-style: none;
}

.page-header-contact-container {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.menu-item {
  margin-right: 50px;
}

.menu-item:last-child {
  margin-right: 0;
}

.menu-link {
  position: relative;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-link::after{
  display: inline-block;
  position: absolute;
  content: '';
  left: 0;
  bottom: -30px;
  border-radius: 2px;
  width: 100%;
  height: 4px;
  margin-bottom: -1px;
  background-color: #2196F3;
  opacity: 0;
}
.menu-link:hover::after, .menu-link:focus::after{
  opacity: 1;
}
.current{
  color: #188ce8;
}
.current::after{
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  border-radius: 2px;
  margin-bottom: -1px;
  width: 100%;
  height: 4px;
  background-color:#2196F3;
  opacity: 1;
  bottom: -30px;
}


.contacts-phone-number::after{
  display: inline-block;
  position: absolute;
  content: '';
  left: 0;
  bottom: -31px;
  border-radius: 2px;
  width: 100%;
  height: 4px;
  margin-bottom: -1px;
  background-color: #2196F3;
  opacity: 0;
  visibility: hidden;
}


.menu-link:hover,
.menu-link:focus {
  color: #2196f3;
  
}
.menu-link1:hover, .menu-link1:focus{
  color:#2196F3;
}

.menu-contact {
  margin-top: 32px;
  margin-bottom: 32px;
  display: flex;
  align-items: center;
  margin-left: auto;
}

.menu-item-contact {
  margin-right: 50px;
  display: flex;
}

.menu-item-contact:last-child {
  margin-right: 0;
}

.contacts-email {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  display: flex;
}

.email-icon {
  margin-right: 10px;
  fill: currentColor;
  margin-top: 2px;
}

.contacts-phone-number {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  display: flex;
}

.phone-icon {
  margin-right: 10px;
  fill: currentColor;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.section-photo {
  display: flex;
  padding-top: 94px;
  padding-bottom: 94px;
}

.box-btn {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
  justify-content: center;
}

.portfolio-btn {
  left: 976px;
  top: 174px;
  background: #f5f4fa;
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  margin-right: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  border: none;
  padding: 6px 22px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  background: #2196f3;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.photo-string {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.card {
  background: #ffffff;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card:hover,
.card:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.team-list-wapper {
  position: relative;
  overflow: hidden;
}
.card:hover .overlay,
.card:focus .overlay {
  transform: translate(0, 0);
}

.overlay {
  position: absolute;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: #ffffff;
  background: rgba(33, 150, 243, 0.9);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding-top: 63px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 63px;
  overflow-y: auto;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-list {
  background: #ffffff;
  border: 1px solid #eeeeee;
  padding: 20px 24px 20px 24px;
}

.card-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  margin-bottom: 4px;
}

.card-dscr {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
}

.footer {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-box {
  display: flex;
}

.logo-link {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-bottom: 20px;
  display: block;
}

.footer-address {
  margin-bottom: 9px;
}

.location {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.contact-footer {
  margin-bottom: 9px;
}

.contact-email {
  width: 231px;
  height: 21px;
  left: 215px;
  top: 2238px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.contact-phone {
  width: 231px;
  height: 21px;
  left: 215px;
  top: 2238px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-social {
  display: block;
  margin-left: 70px;
  padding-top: 12px;
}

.footer-social-title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer-social-list {
  display: flex;
  gap: 10px;
}

.social-list-icon {
  height: 44px;
  width: 44px;
  padding-top: 12px;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 12px;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover .social-list-icon,
.social-list-link:focus .social-list-icon {
  fill: #ffffff;
}

.footer-social-list:last-child {
  margin-right: 0;
}

.footer-social-link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff;
  background: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: #2196f3;
}

.footer-social-icon {
  height: 44px;
  width: 44px;
  padding-top: 12px;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 12px;
  fill: #ffffff;
}

.footer-input-wrapper {
  display: block;
  margin-left: 93px;
  padding-top: 13px;
}

.footer-input-text {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}
.footer-form-input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  height: 50px;
  width: 358px;
  padding-left: 16px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background: transparent;
  color: #fff;
}

.footer-form-input:focus {
  border: none;
}

.footer-button {
  width: 200px;
  height: 50px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #188ce8;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 27px;
  padding-right: 28px;
  margin-left: 12px;
  margin-top: 48px;
}

.footer-button:hover,
.footer-button:focus {
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.footer-button-icon {
  padding-top: 10px;
}

.link {
  text-decoration: none;
}

h1,
h2,
h3,
p {
  margin-top: 0px;
  margin-bottom: 0px;
}

address {
  font-style: normal;
}

button {
  cursor: pointer;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.list {
  list-style: none;
}
